node_modules

npm-debug.log
yarn-error.log

dist
coverage
logs

public
uploads
backup
backups

*.zip
*.tar
*.gz
*.rar
*.7z

*.sql
*.dump
*.bak
*.log

.git
.gitignore

.env

Dockerfile
.dockerignore

.DS_Store
